<body class='page-other'>
<div>
    I'm the POSTERS/INDEX page
    <a href="/users/{{userId}}">Profile</a> / Posters
</div>

<div>
    <h1>{{userFullName}}'s Poster Collection</h1>
    <div class='button-gold'>
        <a href="/users/{{userId}}/posters/new">Add A Poster</a>
    </div>
</div>

<div>
    {{#each posters}}
    <div>
        <a class='button-muted' href="/users/{{../userId}}/posters/{{this._id}}/delete">Delete</a>
        <a href="/users/{{../userId}}/posters/{{this._id}}">
            <h3>{{this.title}}</h3>
        </a>
    </div>
    {{/each}}
</div>

</body>