<html class='page-other'>
<div>
    I'm the POSTERS/INDEX page
</div>

{{!-- <h3>My Poster Collection</h3>
        <div class='posters-container'>
        <div class='poster-frame-section'>
            {{#each poster}}
            <a href="/poster/{{this._id}}" class='link poster-frame'>
            <div class='poster-photo'>
                {{#if this.photoUrl}}
                <img src="{{this.imageUrl}}" alt="{{this.title}}'s poster image"> {{else}}
                <img src="https://i.imgur.com/xUNTDKM.jpg" alt="{{this.title}}'s poster image"> {{/if}}
            </div>
            </a>
            {{/each}}
        </div>
        </div> --}}

</html>