<body class='page-other'>
<div>
    <a href="/users/{{userId}}">Profile</a> /
    <a href="/users{{userId}}/posters">Posters</a> / {{poster.title}}
</div>

<div>
    <div>
        <div class="poster">
            {{#if poster.imageUrl}}
            <img src="{{poster.imageUrl}}" alt="{{poster.title}} poster image"> {{else}}
            <img src="https://i.imgur.com/xUNTDKM.jpg" alt="{{poster.title}} poster image">
            {{/if}}
        </div>
        <div class="poster-info">
        <h2>{{poster.title}}</h2>
        <p>artist: {{poster.artist}}</p>
        <p>comments: {{poster.story}}</p>
        <p>medium: {{poster.mediumType}}</p>
        <p>limted ed: {{poster.limtedEdition}}</p>
        <p>year of show: {{poster.showYear}}</p>
        <p>location: {{poster.showLocation}}</p>
        <p>band: {{poster.band}}</p>

        </div>
    </div>
    
    
    <a class="button-muted" href="/users/{{userId}}/posters/{{poster._id}}/delete">remove</a>
</div>
</body>